:root {
  --primary-color: #333;
  --background-color: #fff;
  --text-color: #363636;
  --button-hover-color: #f5f5f5;
  --font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dark-mode {
  background-color: #363636;
  color: white;
}

.dark-mode .tool-icon::after {
  color: white;
}

* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main Page Layout */
#main-content {
  margin: 225px 425px;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

/* Portfolio Header */
#portfolio-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

#portfolio-header-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
}

.portfolio-header-image {
  width: 100%;
  height: auto;
}

#portfolio-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex-basis: 50%;
}

/* About Section */
#about-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

/* Project Section */
#my-work-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-container {
  display: flex;
  gap: 34px 16px;
  flex-wrap: wrap;
}

/* Project Cards */
.project-card {
  max-width: calc((100% - 32px) / 3);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-card-text-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.project-card .button {
  align-self: flex-start;
  margin-top: auto;
}

/* Project Pages */
#project-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-header-image {
  width: 100%;
  height: auto;
}

#project-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-details-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

/* Project Gallery */
#project-gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 34px 16px;
}

.gallery-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-image-container.half-width {
  width: calc((100% - 16px) / 2);
}

.gallery-image {
  width: 100%;
  height: auto;
}

#tool-icons-container {
  display: flex;
  gap: 1px;
}

#tool-icons-container img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.tool-icon {
  position: relative;
  display: inline-block;
}

.tool-icon img {
  display: block;
  width: 64px;
  height: 64px;
}

.tool-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
  padding: 5px 8px;
  white-space: nowrap;
  font-size: 16px;
  font-family: var(--font-stack);
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, transform 0.3s;
}

.tool-icon:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px);
}

.dark-mode-button {
  outline: none !important;
  box-shadow: none !important;
}

.dark-mode-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Media Queries */
@media only screen and (max-width: 1600px) {
  #main-content {
    margin: 225px 275px;
  }
}

@media only screen and (max-width: 1200px) {
  #main-content {
    margin: 225px 175px;
  }
}

@media only screen and (max-width: 1000px) {
  #main-content {
    margin: 225px 75px;
  }
}

@media only screen and (max-width: 800px) {
  #main-content {
    margin: 150px 50px;
  }

  #portfolio-header {
    flex-direction: column;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }
}

@media only screen and (max-width: 600px) {
  #main-content {
    margin: 125px 20px;
  }

  .project-card {
    max-width: 100%;
  }
}

/* New media query for screens 2560px and wider */
@media only screen and (min-width: 2560px) {
  #main-content {
    margin: 225px auto;
    max-width: 1710px;
    padding: 0 40px;
  }

  .projects-container {
    gap: 50px 24px;
  }

  .project-card {
    max-width: calc((100% - 48px) / 3);
  }

  .project-image {
    height: 300px;
  }

  .project-card-text-container {
    min-height: 150px; /* Adjust this value as needed */
  }

  #tools-section {
    margin-top: 60px;
  }

  #tool-icons-container {
    gap: 40px;
  }

  .tool-icon img {
    width: 100px;
    height: 100px;
  }

  .tool-icon::after {
    font-size: 18px;
    padding: 8px 12px;
  }

  .subheader-text {
    font-size: 28px;
  }

  .body-text {
    font-size: 18px;
  }
}

/* Additional media query for even larger screens */
@media only screen and (min-width: 3840px) {
  #main-content {
    max-width: 2560px;
  }

  .project-image {
    height: 400px;
  }

  .project-card-text-container {
    min-height: 200px; /* Adjust this value as needed */
  }

  #tool-icons-container {
    gap: 60px;
  }

  .tool-icon img {
    width: 150px;
    height: 150px;
  }

  .tool-icon::after {
    font-size: 22px;
    padding: 10px 15px;
  }

  .subheader-text {
    font-size: 32px;
  }

  .body-text {
    font-size: 22px;
  }
}