:root {
  --primary-color: #333;
  --background-color: #fff;
  --text-color: #363636;
  --button-hover-color: #f5f5f5;
  --font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dark-mode {
  background-color: #363636;
  /* Dark grey color */
  color: white;
}

.dark-mode .tool-icon::after {
  color: white;
  /* White text color in dark mode */
}

* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main Page Layout */
#main-content {
  margin: 225px 425px;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

/* Portfolio Header */
#portfolio-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

#portfolio-header-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
}

.portfolio-header-image {
  width: 100%;
  height: auto;
}

#portfolio-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex-basis: 50%;
}

/* About Section */
#about-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

/* Project Section */
#my-work-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-container {
  display: flex;
  gap: 34px 16px;
  flex-wrap: wrap;
}

/* Project Cards */
.project-card {
  max-width: calc((100% - 32px) / 3);
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.project-card-text-container {
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

/* Project Pages */
#project-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-header-image {
  width: 100%;
  height: auto;
}

#project-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-details-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

/* Project Gallery */
#project-gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 34px 16px;
}

.gallery-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery-image-container.half-width {
  width: calc((100% - 16px) / 2);
}

.gallery-image {
  width: 100%;
  height: auto;
}

#tool-icons-container {
  display: flex;
  gap: 1px;
  /* Slightly larger gap for better visual spacing */
}

#tool-icons-container img:hover {
  transform: scale(1.05);
  /* Subtle scale effect */
  cursor: pointer;
  /* Ensure cursor indicates interactivity */
}

.tool-icon {
  position: relative;
  display: inline-block;
}

.tool-icon img {
  display: block;
}

.tool-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
  /* Black text color */
  padding: 5px 8px;
  white-space: nowrap;
  font-size: 16px;
  font-family: var(--font-stack);
  /* Cleaner font */
  font-weight: bold;
  /* Bold text */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, transform 0.3s;
  /* Smooth transition */
}

.tool-icon:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px);
  /* Lift tooltip slightly */
}

.dark-mode-button {
  outline: none !important;
  box-shadow: none !important;
}

.dark-mode-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Media Queries */
@media only screen and (max-width: 1600px) {
  #main-content {
    margin: 225px 275px;
  }
}

@media only screen and (max-width: 1200px) {
  #main-content {
    margin: 225px 175px;
  }
}

@media only screen and (max-width: 1000px) {
  #main-content {
    margin: 225px 75px;
  }
}

@media only screen and (max-width: 800px) {
  #main-content {
    margin: 150px 50px;
  }

  #portfolio-header {
    flex-direction: column;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }
}

@media only screen and (max-width: 600px) {
  #main-content {
    margin: 125px 20px;
  }

  .project-card {
    max-width: 100%;
  }
}