:root {
  --primary-color: #333;
  --background-color: #fff;
  --text-color: #363636;
  --button-hover-color: #f5f5f5;
  --font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-stack);:root {
    --primary-color: #333;
    --background-color: #fff;
    --text-color: #363636;
    --button-hover-color: #f5f5f5;
    --font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: #ffffff;
    }
  }
  
  #tool-icons-container {
    display: flex;
    gap: 15px; /* Slightly larger gap for better visual spacing */
  }
  
  #tool-icons-container img:hover {
    transform: scale(1.05); /* Subtle scale effect */
    cursor: pointer; /* Ensure cursor indicates interactivity */
  }
  
  .tool-icon {
    position: relative;
    display: inline-block;
  }
  
  .tool-icon img {
    display: block;
  }
  
  .tool-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color); /* Text color based on color scheme */
    padding: 5px 8px;
    white-space: nowrap;
    font-size: 16px;
    font-family: var(--font-stack); /* Cleaner font */
    font-weight: bold; /* Bold text */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, transform 0.3s; /* Smooth transition */
  }
  
  .tool-icon:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px); /* Lift tooltip slightly */
  }
  color: var(--text-color);
  background-color: var(--background-color);
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 40px;
  font-weight: 700;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.dark-mode {
  background-color: #363636; /* Dark grey color */
  color: white;
}
body.dark-mode .nav-title {
  color: white;
}
body.dark-mode .button {
  background-color: #333333; /* Same color as dark mode background */
  color: white;
  border-color: white; /* Change border color to white */
}

html {
    scroll-behavior: smooth;
}
